* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  margin: 20px;
  background-color: #202124;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
